*:not(button, input) {
  color: white;
}

* {
  font-family: 'Roboto', sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'nav'
    'main'
    'footer';
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  grid-area: nav;
  width: auto;
  padding: 30px;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  text-align: center;
}

main {
  grid-area: main;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#inputfield {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
}

button {
  height: 50px;
  margin: 5px;
  border: 1px solid white;
  background-color: #202020;
  color: white;
  font-size: 20px;
}

#endButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#newgame,
#homeButton {
  width: fit-content;
  padding: 0 10px;
}

button:hover {
  background-color: #000000;
}

footer {
  grid-area: footer;
  background-color: #171717;
  display: flex;
  height: fit-content;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
